<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637102657592-an3njvcbp8s6o6i0d9ophlkf61b82pqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637102657592-an3njvcbp8s6o6i0d9ophlkf61b82pqe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>637102657592-7ra3p7stn1v2ikte41nin9vmebus3n4m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfyQ4Kl605FD8qfj37rJryaAn0itACifg</string>
	<key>GCM_SENDER_ID</key>
	<string>637102657592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appetit</string>
	<key>PROJECT_ID</key>
	<string>almost-expired-food-887dd</string>
	<key>STORAGE_BUCKET</key>
	<string>almost-expired-food-887dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637102657592:ios:895ad3e2c785b8e9d696cd</string>
</dict>
</plist>